argon2-cffi==20.1.0
async-generator==1.10
attrs==20.3.0
backcall==0.2.0
bleach==3.3.0
boto3==1.17.39
botocore==1.20.39
certifi==2020.6.20
cffi==1.14.5
decorator==4.4.2
defusedxml==0.7.1
entrypoints==0.3
importlib-metadata==3.9.0
ipython-genutils==0.2.0
Jinja2==2.11.3
jmespath==0.10.0
jsonschema==3.2.0
MarkupSafe==1.1.1
mistune==0.8.4
motor==2.3.1
nest-asyncio==1.5.1
notebook==6.3.0
packaging==20.9
pexpect==4.8.0
pickleshare==0.7.5
prometheus-client==0.9.0
ptyprocess==0.6.0
pycparser==2.20
pymongo==3.11.3
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
pyzmq==19.0.2
s3transfer==0.3.6
Send2Trash==1.5.0
six==1.15.0
terminado==0.9.3
testpath==0.4.4
tornado==6.1
typing-extensions==3.7.4.3
urllib3==1.26.4
webencodings==0.5.1
zipp==3.4.1
